<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="{% static 'timer/images/pr.ico' %}">
    <title>Admin</title>
    <!-- Bootstrap CSS -->
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'timer/css/admin.css' %}">

</head>

<body>
    <p>ADMIN</p>
    <div id="timer-controler-left">
        <button class="btn btn-primary" id="startButton">Start Timer</button>
    </div>
    <div id="timer-controler-right">
        <button class="btn btn-danger" id="resetButton">Reset Timer</button>
    </div>
    <div>
        <input type="text" name="message" id="message" placeholder="Enter message">
        <button type="submit" class="btn btn-primary" id="sendMessage">Send Message</button>

    </div>
    {% csrf_token %}
    <script type="text/javascript" src="{% static 'timer/js/admin.js' %}" data-launch_time="{{ launch_time }}"></script>
</body>

</html>