<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="icon" type="image/x-icon" href="{% static 'timer/images/pr.ico' %}">
    <link rel="stylesheet" href="{% static 'timer/css/login.css' %}">
</head>
<body>
    <div class="login-container">
        <img src="{% static 'timer/images/image1.jpg' %}" alt="Banner">
        <h2>Admin Login</h2>
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" value="{{ username }}" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
